extends _layout.pug

block styles
    include css/chat.css

block content
    .chat_window
        .top_menu
            .title Chat
        ul.messages
            each message in messages
                li.message
                    .avatar= message.name
                    .text_wrapper
                        .text= message.chat_message
        script
            include js/chat_behavior.js
        .bottom_wrapper.clearfix
            .message_input_wrapper
                input.message_input(placeholder='Type your message here...')
            .send_message
                .icon
                .send_button Send
        .message_template
    script.
        const user = !{JSON.stringify(messages)}
    script 
        include js/socket.js