extends _layout.pug

block styles
    include css/chat.css

block content
    .chat_window
        .top_menu
            .title Chat
        ul.messages
            script.
                const messages = !{JSON.stringify(messages)}
            script
                include js/chat_parser.js
        .bottom_wrapper.clearfix
            .message_input_wrapper
                input.message_input(placeholder='Type your message here...')
            .send_message
                .icon
                .text Send
        .message_template
    
    script 
        include js/socket.js