extends _layout.pug

block styles
    include css/landing.css

block content
    .portal_window
        .top_menu
            .title Chat
        .auth_redirect_wrapper
            .signin You'll need to #[a(href="/signin") sign in] to start chatting. 
            .signup First time here? Please #[a(href="/signup") sign up].
