extends _layout.pug

block styles
    include css/portal.css

block content
    .portal_window
        .top_menu
            .title Chat
        form#signin(action="/auth/signin" method="POST")
            table.auth_wrapper
                tr
                    th email 
                        input(name="email")
                tr
                    th password 
                        input(name="password")
            button submit
        script 
            include js/signin.js