extends _layout.pug

block styles
    include css/portal.css

block content
    .portal_window
        .top_menu
            .title Chat
        .auth_redirect_wrapper
        form(id="signin_form" action="/auth/signin", method="post") 
            table.auth_wrapper
                tr
                    th email 
                        input(type="text", name="email", value="")
                tr
                    th password 
                        input(type="password", name="password", value="") 
                button.submit_button Submit