extends _layout.pug

block styles
    include css/portal.css

block content
    .portal_window
        .top_menu
            .title Chat
        .auth_wrapper 
            div Sign in
            form(id="signin_form" action="/auth/signin", method="post") 
                    table
                        tr
                            th email 
                                input(type="text", name="email", value="")
                        tr
                            th password 
                                input(type="password", name="password", value="") 
                        tr 
                            th.submit
                                button.submit_button Submit