extends _layout.pug

block styles
    include css/portal.css

block content
    .portal_window
        .top_menu
            .title Chat
        table.auth_wrapper
            tr
                th  name 
                    input 
            tr
                th email 
                    input 
            tr
                th password 
                    input 