<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        header
            h1= header
        main
            h1= main
            div#message-container
            form#send-container/*(action="/new_chat" method="POST")*/
                input#message-input(type="text" placeholder="Something...")
                button#send-button(type="submit") Send