* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#chat-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 50vh;
    border: 1px solid red;
}

#message-container {
    display: flex;
    flex-wrap: wrap;
}

#send-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    border: 1px solid black;
    background: lightgrey;
}

#message-input, #send-button {
    margin: 1px;
}



