.auth_redirect_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100% - 60px);
    color: rgb(31 45 45);
    font-size: 20px;
}

.signin, .signup{
    margin: 20px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}